<h1><%= @park.name %></h1>
<p>Admissions: $<%= @park.price %>.00</p>
<h2>Rides:<h2>
  <ol>
    <% @rides.each do |ride| %>
      <li><%= ride.name %></li>
    <% end %>
  </ol>
  <%# move this into the model %>
<p> Average Thrill Rating of Rides: <%= @park.rides.average(:thrill_rating).round(1) %>/10</p>
