<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <p><%= link_to "#{mechanic.name}", "/mechanics/#{mechanic.id}", method: :get %> - <%= mechanic.experience %> years of experience</p>
<% end %>
